In [12]:
import pandas as pd

In [21]:
data1 = pd.read_csv("JC-201805-citibike-tripdata.csv", error_bad_lines=False)
data2 = pd.read_csv("JC-201806-citibike-tripdata.csv", error_bad_lines=False)
data3 = pd.read_csv("JC-201807-citibike-tripdata.csv", error_bad_lines=False)
data4 = pd.read_csv("JC-201808-citibike-tripdata.csv", error_bad_lines=False)
data5 = pd.read_csv("JC-201809-citibike-tripdata.csv", error_bad_lines=False)
data6 = pd.read_csv("JC-201810-citibike-tripdata.csv", error_bad_lines=False)
data7 = pd.read_csv("JC-201811-citibike-tripdata.csv", error_bad_lines=False)
data8 = pd.read_csv("JC-201812-citibike-tripdata.csv", error_bad_lines=False)
data9 = pd.read_csv("JC-201901-citibike-tripdata.csv", error_bad_lines=False)
data10 = pd.read_csv("JC-201902-citibike-tripdata.csv", error_bad_lines=False)
data11 = pd.read_csv("JC-201903-citibike-tripdata.csv", error_bad_lines=False)
data12 = pd.read_csv("JC-201904-citibike-tripdata.csv", error_bad_lines=False)
data13 = pd.read_csv("JC-201905-citibike-tripdata.csv", error_bad_lines=False)
data14 = pd.read_csv("JC-201906-citibike-tripdata.csv", error_bad_lines=False)
data15 = pd.read_csv("JC-201907-citibike-tripdata.csv", error_bad_lines=False)
data16 = pd.read_csv("JC-201908-citibike-tripdata.csv", error_bad_lines=False)
data17 = pd.read_csv("JC-201909-citibike-tripdata.csv", error_bad_lines=False)
data18 = pd.read_csv("JC-201910-citibike-tripdata.csv", error_bad_lines=False)
data19 = pd.read_csv("JC-201911-citibike-tripdata.csv", error_bad_lines=False)
data20 = pd.read_csv("JC-201912-citibike-tripdata.csv", error_bad_lines=False)
data21 = pd.read_csv("JC-202001-citibike-tripdata.csv", error_bad_lines=False)
data22 = pd.read_csv("JC-202002-citibike-tripdata.csv", error_bad_lines=False)
data23 = pd.read_csv("JC-202003-citibike-tripdata.csv", error_bad_lines=False)
data24 = pd.read_csv("JC-202004-citibike-tripdata.csv", error_bad_lines=False)
data25 = pd.read_csv("JC-202005-citibike-tripdata.csv", error_bad_lines=False)

In [25]:
citi_frames = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12, data13, data14, data15, data16, data17, data18, data19, data20, data21, data22, data23, data24, data25]
concatenated_df = pd.concat(citi_frames)
concatenated_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,1
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,1
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,0
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,1
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1

In [26]:
# Replace Gender Codes with values from the Citi Website
concatenated_df['gender'].replace(to_replace=[0, 1, 2],
           value=['Unknown', 'Male', 'Female'],
           inplace=True)

# Show Dataframe
concatenated_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male

In [27]:
 concatenated_df = concatenated_df.rename(columns={
    "tripduration": "Trip Duration",
    "starttime": "Start Time",
    "stoptime": "Stop Time",
    "start station id": "Start Sation ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "Birth Year",
    "gender": "Gender",
    "month": "Month"
      
})

concatenated_df

,Trip Duration,Start Time,Stop Time,Start Sation ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male

In [28]:
concatenated_df.count()

Trip Duration              791361
Start Time                 791361
Stop Time                  791361
Start Sation ID            791361
Start Station Name         791361
Start Station Latitude     791361
Start Station Longitude    791361
End Station ID             791361
End Station Name           791361
End Station Latitude       791361
End Station Longitude      791361
Bike ID                    791361
User Type                  791361
Birth Year                 791361
Gender                     791361
dtype: int64

In [30]:
#Calculate Rider Age
currentYear = datetime.now().year

concatenated_df["Rider Age"] = currentYear - concatenated_df["Birth Year"]

concatenated_df

,Trip Duration,Start Time,Stop Time,Start Sation ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Rider Age
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male,57
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male,48
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown,54
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male,50
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male,31
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male,26
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male,36
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male,24
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male,47

In [31]:
concatenated_df.to_csv("clean_citi_bike_data.csv")